@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    padding: 3rem;
    min-height: 100dvh;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr auto;
    background-color: hsl(30, 18%, 87%);
}

.recipe {
    width: 50%;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    padding: 2.5rem;
}

.recipe__image {
    width: 100%;
    border-radius: 15px;
}

.recipe__title {
    font-family: 'Young Serif';
    font-size: 2.5rem;
    font-weight: 400;
    color: hsl(24, 5%, 18%);
}

.recipe__description {
    font-family: 'Outfit';
    font-size: 1.1rem;
    font-weight: 400;
    color: hsl(30, 10%, 34%)
}

.recipe__preparation {
    padding: 2rem;
    border-radius: 15px;
    font-family: 'Outfit';
    color: hsl(30, 10%, 34%);
    background-color: hsl(330, 100%, 98%);
}

.recipe__subtitle_time {
    font-weight: 600;
    color: hsl(332, 51%, 32%);
}

.recipe__section {
    padding: 1rem;
    border-bottom: solid 1px hsl(30, 18%, 87%);
}

#border {
    border-bottom: none;
}

.recipe__subtitle {
    font-family: 'Young Serif';
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}

.recipe__list {
    font-family: 'Outfit';
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}

.recipe__nutrition-description {
    font-family: 'Outfit';
    color: hsl(30, 10%, 34%);
}

.recipe__nutrition-table {
    font-family: 'Outfit';
    color: hsl(30, 10%, 34%);
    width: 100%;
    border-collapse: collapse;
}

.nutrition-table__row {
    border-bottom: solid 1px hsl(30, 18%, 87%);
}

.nutrition-table__row:last-child {
    border-bottom: none;
}
  
.nutrition-table__cell {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    text-align: left;
}

.nutrition-table__cell:first-child {
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}
  
.nutrition-table__cell:last-child {
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}
  
footer {
    font-size: 11px;
    text-align: center;
    padding-bottom: 3rem;
}

footer a {
    color: hsl(228, 45%, 44%)
}